.odd-number {
    color: black;
    background-color: lightpink;
    font-family: Verdana, Dejavu Sans, sans-serif; 
}
#ID {
    color: blue;
    font-size: 36px;
}
.odd-number2 {
    color: black;
    background-color: lightpink;
    font-family: verdana, Dejavu Sans, sans-serif;
    font-size: 24px;
}
#ID2 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}


/*Exercise 3*/
/*Grouping Selector, 2 similar classes with small differences.*/
.blackyellow,
.yellowblack
{
    font-family: Helvetica, Times New Roman, sans-serif;
    font-size: 28px;
}
.blackyellow {
    color: white;
    background-color: black;
}

.yellowblack {
    color: black;
    background-color: yellow;
}